<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- <meta name="description" content="" />
        <meta name="author" content="" /> -->
        {% block head %}
        {% endblock %}
        <link href="{% static './dist/css/tabler.min.css' %}" rel="stylesheet"/>
        <link href="{% static './dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
        <link href="{% static './dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
        <link href="{% static './dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
        <link href="{% static './dist/css/demo.min.css' %}" rel="stylesheet"/>
    </head>
    <body>
        {% block content %}
        
        {% endblock %}
        {% include 'accounts/footer.html' %}
    </body>
    </html>